## Analisi Dataset

In [1]:
!pip install pandas -q
!pip install pandas-profiling -q
!pip install numpy -q

In [2]:
import pandas as pd
import numpy as np

### companiesmarketcap.com

#### Formato .csv

In [4]:
cmc1 = pd.read_csv("de-sources-2022-2023/companiesmarketcap.com/CompaniesMarketCap.csv")
cmc1.tail(10)

                               Name Master Cap    Country   Rank Share Price
6280                     Cardlytics    $0.17 B        USA  #6291       $5.25
6281                   Vera Bradley    $0.17 B        USA  #6292       $5.63
6282                   FingerMotion    $0.17 B        USA  #6293       $3.75
6283                    KCP Limited    $0.17 B      India  #6294       $1.34
6284               Excel Industries    $0.17 B      India  #6295      $13.76
6285                        Arteris    $0.17 B        USA  #6296       $5.18
6286               PlaySide Studios    $0.17 B  Australia  #6297       $0.43
6287  Alpine Summit Energy Partners    $0.17 B        USA  #6298       $4.53
6288                        Intevac    $0.17 B        USA  #6299       $6.79
6289                           Doma    $0.17 B        USA  #6300       $0.52

In [5]:
cmc1.dtypes

Name           object
Master Cap     object
Country        object
Rank           object
Share Price    object
dtype: object

In [6]:
cmc1.isnull().sum()

Name             0
Master Cap       0
Country        174
Rank             0
Share Price      0
dtype: int64

In [7]:
cmc2 = pd.read_csv("de-sources-2022-2023/companiesmarketcap.com/DDD-companiesmarketcap.com.csv")
cmc2.tail(10)

,Unnamed: 0,name,rank,marketcap,country,share_price,change1d,change1y,categories
7207,7207,Univest,5013,$0.75 B,usa,$25.65,-1.31%,-18.31%,investment financial-services insurance
7208,7208,Northfield Bancorp,5007,$0.75 B,usa,$15.77,0.06%,-8.53%,banks financial-services
7209,7209,Hanmi Financial,5003,$0.75 B,usa,$24.79,-0.84%,-7.22%,banks financial-services
7210,7210,CTI BioPharma\n,5000,$0.75 B,usa,$5.96,0.85%,168.47%,pharmaceuticals biotech
7211,7211,Protolabs,4999,$0.75 B,usa,$27.90,1.36%,-44.54%,3d-printing tech
7212,7212,ATN International,5008,$0.75 B,usa,$47.74,0.70%,17.10%,telecommunication
7213,7213,Al Moammar Information Systems,5010,$0.75 B,saudi-arabia,$25.04,0.32%,-29.21%,it-services
7214,7214,Karooooo,5014,$0.74 B,singapore,$24.20,-1.26%,-27.31%,software tech
7215,7215,Aerie Pharmaceuticals,5006,$0.75 B,usa,$15.25,0.00%,101.99%,pharmaceuticals biotech
7216,7216,Farmland Partners\n,5004,$0.75 B,usa,$13.51,0.15%,10.92%,real-estate investment reit

In [8]:
cmc2.dtypes

Unnamed: 0      int64
name           object
rank            int64
marketcap      object
country        object
share_price    object
change1d       object
change1y       object
categories     object
dtype: object

In [9]:
cmc2.isnull().sum()

Unnamed: 0      0
name            0
rank            0
marketcap      17
country         0
share_price     5
change1d        0
change1y        0
categories      0
dtype: int64

In [14]:
cmc3 = pd.read_csv("de-sources-2022-2023/companiesmarketcap.com/wissel-aziende-companiesmarketcap.com.csv")
cmc3.tail(10)

,Unnamed: 0,URL,ID,Name,Company code,Marketcap,Share price,Earnings,Revenue,Shares,Employees
6550,1390,https://companiesmarketcap.com/dolby/marketcap/,NaN,Dolby,DLB,$7.24 B,$75.47,$0.21 B,$1.25 B,100.213.000,2.368
6551,1391,https://companiesmarketcap.com/first-interstat...,NaN,First Interstate BancSystem,FIBK,$4.54 B,$43.53,$0.21 B,$0.96 B,106.526.000,2.358
6552,1392,https://companiesmarketcap.com/rapid7/marketcap/,NaN,Rapid7,RPD,$1.83 B,$31.00,-$0.15 B,$0.65 B,58.239.958,2.353
6553,1393,https://companiesmarketcap.com/secureworks/mar...,NaN,Secureworks,SCWX,$0.60 B,$7.08,-$89.23 M,$0.49 B,84.483.000,2.351
6554,1394,https://companiesmarketcap.com/helios-technolo...,NaN,Helios Technologies,HLIO,$1.72 B,$53.07,$0.14 B,$0.90 B,32.497.000,2.350
6555,1395,https://companiesmarketcap.com/accolade/market...,NaN,Accolade,ACCD,$0.64 B,$9.03,-$0.4 B,$0.35 B,70.475.778,2.350
6556,1396,https://companiesmarketcap.com/townsquare-medi...,NaN,Townsquare Media,TSQ,$0.12 B,$7.37,$70.45 M,$0.44 B,16.986.000,2.340
6557,1397,https://companiesmarketcap.com/netscout/market...,NaN,NETSCOUT,NTCT,$2.73 B,$37.80,$62.63 M,$0.89 B,72.452.000,2.308
6558,1398,https://companiesmarketcap.com/now/marketcap/,NaN,NOW Inc.,DNOW,$1.37 B,$12.49,$0.11 B,$2.02 B,111.000.000,2.300
6559,1399,https://companiesmarketcap.com/atn-internation...,NaN,ATN International,ATNI,$0.76 B,$48.53,-$13.66 M,$0.72 B,15.749.000,2.300

In [15]:
cmc3.dtypes

Unnamed: 0        int64
URL              object
ID              float64
Name             object
Company code     object
Marketcap        object
Share price      object
Earnings         object
Revenue          object
Shares           object
Employees        object
dtype: object

In [16]:
cmc3.isnull().sum()

Unnamed: 0         0
URL                0
ID              1409
Name               9
Company code      10
Marketcap         26
Share price       13
Earnings          54
Revenue          292
Shares          4298
Employees        403
dtype: int64

In [17]:
cmc4 = pd.read_csv("de-sources-2022-2023/companiesmarketcap.com/wissel-categorie-companiesmarketcap.com.csv")
cmc4.tail(10)

      Company ID                 Category                 Hash
1813        1393                     Tech  5392941245537608590
1814        1394               ITsecurity  2028367090288460929
1815        1394                     Tech  5392941245537608590
1816        1394                 Software  6273975210915946900
1817        1396               Healthcare  1473658128705581606
1818        1397               MediaPress -6159643471181631199
1819        1399                   OilGas  7683904390150838630
1820        1399  OilGasEquipmentServices -5823085833726200737
1821        1399                   Energy -2882595272621617431
1822        1400        Telecommunication -3862064693147789081

In [18]:
cmc4.dtypes

Company ID     int64
Category      object
Hash           int64
dtype: object

In [20]:
cmc4.isnull().sum()

Company ID    0
Category      0
Hash          0
dtype: int64

#### Formato .json

In [23]:
cmc5 = pd.read_json('de-sources-2022-2023/companiesmarketcap.com/companiesMarketCap_dataset.json', lines=True)
cmc5.head()

,id,name,rank,market_cap,country,share_price,change_1_day,change_1_year,categories
0,1aeb78c70807445290795f145210a39e,Apple,1,$2.351 T,USA,$147.81,-0.34%,-9.74%,"[Tech, Software, Dow jones, Tech Hardware, Ele..."
1,8443bd488b2543718e4dab19e7d1b371,Bristol-myers Squibb,57,$172.49 B,USA,$81.13,0.31%,46.42%,"[Pharmaceuticals, Biotech]"
2,d35ff63680a645f986048ab48d2fe322,Wells Fargo,56,$175.05 B,USA,$45.94,-1.98%,-6.07%,"[Banks, Financial services]"
3,0664af11c7b9417bab58542ffa880c0e,Nike,55,$175.54 B,USA,$112.20,1.29%,-34.00%,"[Sports goods, Footwear, Dow jones, Clothing]"
4,4a67737ea89e450b8e8677a91e90327f,Walt Disney,54,$177.08 B,USA,$99.43,0.85%,-32.45%,"[Entertainment, Dow jones]"

In [24]:
cmc5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5897 entries, 0 to 5896
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             5897 non-null   object
 1   name           5897 non-null   object
 2   rank           5897 non-null   int64
 3   market_cap     5897 non-null   object
 4   country        5741 non-null   object
 5   share_price    5897 non-null   object
 6   change_1_day   5897 non-null   object
 7   change_1_year  5648 non-null   object
 8   categories     5019 non-null   object
dtypes: int64(1), object(8)
memory usage: 414.8+ KB

In [25]:
cmc5.dtypes

id               object
name             object
rank              int64
market_cap       object
country          object
share_price      object
change_1_day     object
change_1_year    object
categories       object
dtype: object

In [26]:
cmc5.isnull().sum()

id                 0
name               0
rank               0
market_cap         0
country          156
share_price        0
change_1_day       0
change_1_year    249
categories       878
dtype: int64